* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--gunmetal: #212738;
	--bdazlled-blue: #415a77;
	--shadow-blue: #778da9;
	--champagne-pink: #ffede1;
	--nickel: #617073;
	--taupe-grey: #84828F;
}
li {
	list-style: none;
}
body {
	background-color: var(--bdazlled-blue);
	display: flex;
	flex-direction: column;
}
header {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow: hidden;
}
header img {
	position: relative;
	height: 75%;
}
header img.logo-bracket {
	height: 35%;
}
#logo-left {
	margin-left: 10%;
}
#logo-right {
	margin-right: 10%;
}
.logo-left-hidden {
	top: -50vw;
	opacity: 0;
	transition: all .5s ease-out;
}
.header-logo-hidden {
	left: -50vw;
	opacity: 0;
}
.logo-right-hidden {
	top: 75vh;
	opacity: 0;
	transition: all .5s ease-out;
}
.logo-bracket-on-load {
	top: 0;
	opacity: 1;
	transition: all .5s ease-out;
}
.logo-on-load {
	left: 0;
	opacity: 1;
	transition: left .5s ease-out;
}
.logo-left-scroll-out {
	top: 75vh;
	transition: left .5s ease-in;
}
.logo-scroll-out {
	left: 75vw;
	transition: left .5s ease-in;
}
.nav-current {
	background-color: var(--gunmetal);
	height: 50px;
	position: relative;
	color: var(--champagne-pink);
	text-align: center;
	z-index: 2;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul {
	width: 100%;
}
.albatrooss-logo {
	max-width: 40px;
	margin: 5px;
}
.nav-current h2 {
	flex: 1
}
.nav-links {
	background-color: var(--taupe-grey);
}
nav .nav-links {
	position: absolute;
	z-index: 1;
	top: -100px;
	transition: top .5s ease-in-out;
}
nav:hover .nav-links {
	top: 50px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
nav a {
	text-decoration: none;
	color: var(--champagne-pink);
}
nav li {
	color: var(--champagne-pink);

	margin: 0 auto;
	width: 200px;
	text-align: center;
}
.about-me {
	background-color: var(--shadow-blue);
	height: 100vh;
}
.about-me-box {
	background-color: var(--champagne-pink);
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-me-box img {
	max-width: 400px;
	border-radius: 25px;
}

main {
	height: 100vh;
	background-color: var(--bdazlled-blue);
}

footer {
	text-align: center;
	background-color: var(--gunmetal);
	color: #bbb;
	margin-top: auto;
}
footer ul {
	display: flex;
	justify-content: space-around;

	margin: 10px;
}

footer ul li a {
	font-size: 1.5em;
	color: var(--champagne-pink);
}

@media only screen and (min-width: 950px) {
	.about-me-box {
		width: 500px;
		margin: 10px auto;
		border-radius: 8px;
		border: 3px solid #444;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	.about-me {
		width: 100%;
	}
	footer {
		padding: 0 100px;
	}
}