@import url('https://fonts.googleapis.com/css2?family=Changa&family=Permanent+Marker&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--gunmetal: #212738;
	--bdazlled-blue: #415a77;
	--shadow-blue: #778da9;
	--champagne-pink: #ffede1;
	--nickel: #617073;
	--taupe-grey: #84828F;
}
li {
	list-style: none;
}
body {
	background-color: var(--bdazlled-blue);
	display: flex;
	flex-direction: column;
}
header {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow: hidden;
}
header img {
	position: relative;
	height: 75vmin;
}
header img.logo-bracket {
	width: 30vmin;
	transform: scaleY(0.75);
}
#logo-right {
	transform: scale(-1, 0.75);
}
.logo-left-hidden {
	top: -75vh;
	opacity: 0;
	transition: all .5s ease-out;
}
.header-logo-hidden {
	left: -75vw;
	opacity: 0;
}
.logo-right-hidden {
	top: 75vh;
	opacity: 0;
	transition: all .5s ease-out;
}
.logo-bracket-on-load {
	top: 0;
	opacity: 1;
	transition: all .5s ease-out;
}
.logo-on-load {
	left: 0;
	opacity: 1;
	transition: left .5s ease-out;
}
.logo-scroll-out {
	left: 75vw;
	transition: left .5s ease-in;
}
.flashy-thing {
	position: relative;
	top: -10px;
	height: 5px;
	/* background-color: #555; */
	overflow: hidden;
}
.flashy-div {
	height: 100%;
	width: 150px;
	background-color: #aaa;
	position: relative;
	top: 2.5px;
	left: -200px;
	border-radius: 20%;
}
.blurr {
	height: 100%;
	width: 80px;
	margin-left: 100px;
	background-color: #fff;
}
.flashy-move {
	left: 150vw;
	transition: left .5s ease-in;
}
.nav-current {
	background-color: var(--gunmetal);
	height: 50px;
	position: relative;
	color: var(--champagne-pink);
	text-align: center;
	z-index: 2;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul {
	width: 100%;
}
.albatrooss-logo {
	max-width: 40px;
	margin: 5px;
}
.nav-current h2 {
	flex: 1
}
.nav-links {
	background-color: var(--taupe-grey);
}
nav .nav-links {
	position: absolute;
	z-index: 1;
	top: -100px;
	transition: top .5s ease-in-out;
}
nav:hover .nav-links {
	top: 50px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
nav a {
	text-decoration: none;
	color: var(--champagne-pink);
}
nav li {
	color: var(--champagne-pink);

	margin: 0 auto;
	width: 200px;
	text-align: center;
}
h1 {
	text-align: center;
	color: var(--champagne-pink);
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	letter-spacing: 2px;
}
.about-me {
	background-color: var(--shadow-blue);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-me-box {
	background-color: var(--champagne-pink);
	width: 100%;
	height: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.about-me-box img {
	width: 100%;
}
.about-me h4 {
	color: var(--champagne-pink);
	text-align: center;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
}
.about-me h4::first-letter {
	font-size: 3rem;
}
main {
	height: 100vh;
	background-color: var(--bdazlled-blue);
}

main a:hover {
	cursor: pointer;
}

.portfolio-wrapper {
	text-decoration: none;
	color: var(--champagne-pink)
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.screenshot-container {
	width: 100vw;
	background-color: var(--champagne-pink);
	display: flex;
	justify-content: center;
}

.screenshot {
	height: 185px;
	border: 2px solid var(--gunmetal)
}

.view-code {
	margin-top: 40px;
	text-align: center;
	color: #fff;
}

footer {
	text-align: center;
	background-color: var(--gunmetal);
	color: #bbb;
	margin-top: auto;
}
footer ul {
	display: flex;
	justify-content: space-around;

	margin: 10px;
}

footer ul li a {
	font-size: 1.5em;
	color: var(--champagne-pink);
}

@media only screen and (min-width: 500px) {
	.flashy-move {
		left: 150vw;
		transition: left 1s ease-in;
	}
}

@media only screen and (min-width: 950px) {
	.about-me-box {
		width: 500px;
		margin: 10px auto;
		border-radius: 20%;
		border: 5px solid #444;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	h1 {
		font-size: 4rem;
		letter-spacing: 5px;
	}
	.about-me {
		width: 100%;
	}
	.about-me-box img {
		max-width: 450px;
		border-radius: 20%;
	}
	.about-me h4 {
		font-size: 2rem;
	}
	.about-me:first-letter {
		font-size: 4rem;
	}
	footer {
		padding: 0 100px;
	}
}