@import 'config';
@import 'portfolio';
@import 'contact';


*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f7f7;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    // padding-top: 80px;
    width: calc(min(1366px, 100%));
    // height: 600px;
    // height: calc(100vh - 140px);
}

.header {
    width: 100%;
    height: 0;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    
    &__nav {
        position: absolute;
        z-index: 1;
        left: -100%;
        top: 0;
        padding: 20px 0;
        
        background-color: #333;
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        transition: left 400ms $popp;
    }

    &__logo {
        height: 70px;
    }

    &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        list-style: none;

    }

    // &__item {
        // &--active .header__link {
            // color: $secondary;
            // font-size: 1.5em;
        // }
    // }

    &__link {
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: 700;

        pointer-events: none;
    }
}

.menu {
    
    &__check {
        display: none;
        
        &:checked {
            & ~ nav {
                left: 0;
            }
            
            & ~ .menu__label {
                background-color: $red;
            }

            & ~ .menu__label .menu__burger {
                background-color: transparent;
            }

            & ~ .menu__label .menu__burger::before,
            & ~ .menu__label .menu__burger::after {
                top: 0;
                transform: rotate(-45deg);
                background-color: white;
            }

            & ~ .menu__label .menu__burger::after {
                transform: rotate(45deg);
            }
        }
    }
    
    &__label {
        position: fixed;
        z-index: 2;
        position: absolute;
        left: 0px;
        top: 0px;
        cursor: pointer;
        padding: 23px 11px;
        border-radius: 4px;
        // background-color: rgba(207, 41, 207, .8);
        // background-color: rgba(10, 186, 181, .8);

        transition: background-color 300ms ease-in-out;
    }

    &__burger {
        background-color: white;
        display: block;
        width: 28px;
        height: 4px;
        position: relative;
        
        transition: background-color 200ms ease-in-out;

        &::before,
        &::after {
            content: '';
            background-color: white;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 10px;
            
            transition: all 200ms ease-in-out;
        }

        &--purple {
            background-color: $primary;

            &::before,
            &::after {
                background-color: $primary;
            }
        }

        &::after {
            top: -10px;
        }
    }
}

.home {
    height: 100vh;
    background-color: $primary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        position: relative;
        padding: 30px 0;
        // border: 1px solid $secondary;
    }

    &__tim,
    &__robillard {
        color: $white;
        font-size: calc(clamp(3em, 20vw, 7em));
    }

    &__tim {
        align-self: flex-start;
    }

    &__robillard {
        color: $secondary;
    }

    &__software {
        font-size: calc(clamp(1em, 7vw, 2em));
        text-align: center;
        color: $third;

        & span {
            color: $white;

            &.home__software--dash {
                color: $secondary;
            }
        }
    }

    &__logos {
        position: absolute;
        top: 0;
        right: calc(clamp(18px, 4vw, 30px));
        width: calc(clamp(100px, 25vw, 150px));
        height: calc(clamp(100px, 25vw, 150px));

        // outline: 1px solid $secondary;

        &.flip-vert .home__logos__inner {
            transform: rotateX(180deg);
            transition: all 1500ms $popp;
        }

        &.flip-hor .home__logos__inner {
            transform: rotateY(180deg);
            transition: all 1500ms $popp;
        }

        &__inner {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;


        }

        &__front,
        &__back {
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-image: url('/images/icons-new_gry_blue/react.svg');
        }

        &__back {
            transform: rotateX(180deg);
            background-image: url('/images/icons-new_gry_blue/node.svg');

            &.hor {
                transform: rotateY(180deg);
            }
        }
    }
}

.about {
    margin-top: 40px;
    height:  100vh;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__headshot {

        &--wrapper{
            width: 95%;
        }
        width: 100%;
    }

    &__text {
        text-align: center;
        font-size: 20px;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: $primary;
        margin: 10px;
    }

    &__desc {
        color: #333;
        font-size: 25px;
    }

    &__link {
        border: 1px solid $third;
        color: $third;
        border-radius: 4px;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;

        transition: all 300ms ease-in-out;

        &:hover {
            background-color: $third;
            color: white;
        }
    }
}

.test {
    position: absolute;
    right: 0;
    top: 0;
    background-color:white;
    width: 40px;
    height: 20px;
}


// ================================================================================
//               MEDIA
//================================================================================

@media only screen and (min-width: 768px) {
    body {
        padding-top: 100px;
    }

    .header {
        height: 80px;
        position: fixed;
        left: 0;
        background-color: $primary;
        width: 100%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
        z-index: 1;
    
        display: flex;
        justify-content: center;
    
        &__nav {
            position: relative;
            left: 0;
            width: calc(min(100%, 1366px));
            height: 100%;;
            padding: 0;

            background-color: $primary;
    
            flex-direction: row;
        }
    
        &__list {
            height: 100%;
            flex: 1;
            flex-direction: row;
            justify-content: flex-end;
        }
    
        &__item {
            height: 100%;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            margin-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            cursor: pointer;
    
            &--active {
                border-bottom: 4px solid $third;
                
            }
    
            &:hover {
                // border-bottom: 4px solid $secondary;
                & a {
                    color: $third;
                }
            }
        }
    
        &__link {
            text-decoration: none;
            color: white;
            font-size: 1em;
            font-weight: 100;
            pointer-events: none;
    
            transition: all 200ms ease;
        }
    
    }

    .menu__label {
        display: none;
    }

    .home {
        max-height: 800px;
    }

    .about {
        flex-direction: row;
        justify-content: space-between;        
        height: calc(100vh - 120px);
        padding-top: 140px;

        &__headshot {
            width: 70%;
            margin-left: auto;

            &--wrapper {
                flex: 1;
                display: flex;
                justify-content: flex-end;
            }
        }

        &__text {
            padding: 0 5%;
            width: 50%;
            height: 40%;
            align-items: flex-start;
        }

        &__desc {
            font-size: 40px;
            text-align: left;
        }

        &__link {
           margin: 1rem auto; 
        }
    }
}